<script type="text/javascript" src="__PUBLIC__/Plugin/assets/js/ace-extra.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Js/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Plugin/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Plugin/DataTables/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Plugin/DataTables/jquery.dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Plugin/DataTables/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Plugin/DataTables/buttons.flash.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Plugin/DataTables/buttons.html5.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Plugin/DataTables/buttons.print.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Plugin/DataTables/buttons.colVis.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Plugin/DataTables/dataTables.select.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Plugin/assets/js/ace-elements.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Plugin/assets/js/ace.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/jquery.mobile.custom.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Plugin/assets/js/chosen.jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Plugin/bootstrap-3.3.7-dist\js\bootstrap-markdown.min.js"></script>


<!--<script type="text/javascript" src="__PUBLIC__/Js/jquery-ui.custom.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Js/jquery.ui.touch-punch.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Js/jquery.easypiechart.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Js/jquery.sparkline.index.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Js/jquery.flot.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Js/jquery.flot.pie.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Js/jquery.flot.resize.min.js"></script>-->









