<include file="Public/head"/>
<body  class="no-skin">
<include file="Public/header"/>
<div class="wrapper">


    <div class="container mt30">
        <div class="row">
            <div class="col-md-2 left">
                <include file="Public/left"/>
            </div>
            <div class="col-md-10 middle">
                <div class="news-list">
                    <div class="news-item stream__item clearfix" data-id="1190000015212663">
                        <div class="news__item-from">来自标签 <a href="/t/%E5%89%8D%E7%AB%AF">前端</a></div>
                        <div class="news__item-avatar"><a href="/u/phoenixchan"><img class="avatars-img" src="https://sfault-avatar.b0.upaiyun.com/259/278/2592785672-5af5092ac6c05_huge120"></a></div>
                        <div class="news__item-info">
                            <div class="mb6">
                                <h4 class="news__item-title mt0"><a class="mr10" target="_blank" href="/a/1190000015212663">【build your own xxx】实现你自己的bind函数</a></h4>
                            </div>
                            <p class="news__item-meta"><a href="/u/phoenixchan">亚古</a> 发布于 <a href="/u/phoenixchan/articles">亚古的个人文章</a><span class="dot">·</span><span>2 小时前</span><span class="pull-right hidden-xs hidden-sm"><i class="fa fa-thumbs-up" aria-hidden="true"></i> 1</span></p>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>

<include file="Public/footer"/>
<include file="Public/footerjs"/>
</body>
</html>