<include file="Public/head"/>
<body  class="no-skin">
<include file="Public/header"/>
<div class="wrapper">


    <div class="container mt30">
        <div class="row">
            <div class="col-md-2 left">
                <include file="Public/left"/>
            </div>
            <div class="col-md-10 middle">
                <div class="news-list">
                    <volist name="data" id="val">
                        <div class="news-item stream__item clearfix" data-id="1190000015212663">
                            <div class="news__item-from">来自标签 <a href="/t/%E5%89%8D%E7%AB%AF"><{$val['name']}></a></div>
                            <div class="news__item-avatar"><a href="<{:U('User/index',array('user'=>$val['pageurl']))}>"><img class="avatars-img" src="<{$val['head']}>"></a></div>
                            <div class="news__item-info">
                                <div class="mb6">
                                    <h4 class="news__item-title mt0"><a class="mr10" target="_blank" href="<{:U('Article/index',array('id'=>$val['id']))}>"><{$val['title']}></a></h4>
                                </div>
                                <p class="news__item-meta"><a href="/u/phoenixchan"><{$val['nickname']}></a> <span class="dot">·</span><span><{$val['date']|mdate}></span><span class="pull-right hidden-xs hidden-sm"><i class="fa fa-thumbs-up" aria-hidden="true"></i> <{$val['thumbs']}></span></p>
                            </div>
                        </div>
                    </volist>

                </div>
                <div class="text-center">
                    <ul class="pager">
                        <li id="btn-load-more" class="hidden" style="pointer-events: none;"><a href="javascript:;">没数据了 (〒︿〒)</a></li>
                        <li id="btn-loading" class=""><a href="javascript:;"><i class="fa fa-spinner fa-spin" aria-hidden="true"></i> 载入中</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<include file="Public/footer"/>

<include file="Public/footerjs"/>
</body>
</html>