<include file="Public/head"/>
<link href="__PUBLIC__/Style/Index/blog.css" rel="stylesheet" type="text/css">
<meta name="referrer" content="never">
<body  class="no-skin">
<include file="Public/header"/>
<div class="wrap" data-blogid="1200000000665411">
    <div class="container mt30" style="position:relative">
        <div class="row">
            <div class="col-xs-12 col-md-9 main ">
                <div class="post-topheader custom- pt0">
                    <div class="mb20">
                        <div class="block-for-right-border">
                            <div class="row">
                                <div class="col-md-12article__author col-sm-12 col-xs-12">
                                    <div class="post-topheader__info" data-username="hightopo" data-userslug="hightopo" data-useravatar="<{$data.head}>">
                                        <div>
                                            <div class="article__author">
                                                <a href="<{:U('User/index',array('user'=>$data['pageurl']))}>" class="inline-block pull-left pr10">
                                                    <img class="avatar-40" src="<{$data.head}>" alt="hightopo">
                                                </a>
                                                <div style="display: inline">
                                                    <a href="<{:U('User/index',array('user'=>$data['pageurl']))}>" class="mr5 "><strong><{$data.nickname}></strong></a>
                                                    发布于
                                                    <a href="<{:U('Blog/index',array('user'=>$data['pageurl']))}>"><{$data.nickname}></a>
                                                    <span class="hidden-xs">
                                                        <button type="button" class="btn btn-xs btn-success follow-article ml10" data-do="follow" data-type="blog" data-id="1200000000665411">关注专栏（缺功能）
                                                       </button>
                                                    </span>
                                                </div>
                                                <span style="display: block">
                                                    <{$data['date']|mdate}>
                                                    &nbsp;·&nbsp;
                                                     <{$data['view']}> 次阅读
                                                </span>
                                            </div>
                                        </div>
                                        <h1 class="h1 post-topheader__info--title" id="articleTitle" data-id="1190000015824025">
                                            <a href="<{:U('Article/index',array('id'=>$data['id']))}>"> <{$data.title}></a>
                                        </h1>
                                        <div class="content__tech blog-type-common blog-type-<{$data['type']}>-before hidden-xs">
                                            <ul class="taglist--inline inline-block article__title--tag mr10">
                                                <li class="tagPopup mb5">
                                                    <a class="tag" href="<{:U('Tag/index',array('type'=>$data['name']))}>" data-toggle="popover" data-img="" data-placement="top" data-original-title="<{$data.name}>" data-id="1040000004198395">
                                                        <{$data.name}>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="article fmt article__content" id="article__content">
                    <{$data.content}>
                </div>
                <!--PC和WAP自适应版-->
                <div id="SOHUCS" sid="<{$data.id}>" ></div>

            </div><!-- /.main -->
            <div class="col-md-3 side hidden-sm hidden-xs" style="height: 100%">
                <div class="post-nav hidden-xs side-outline hidden-sm" style="display: block; position: sticky; top: 0px;">

                </div>
            </div><!-- /.side -->
        </div>
    </div>
</div>


<script type="text/javascript">
    (function(){
        var appid = 'cytDWt1Hd';
        var conf = 'prod_c5637d98dcf1a2fdc51b2918f1bafbbd';
        var width = window.innerWidth || document.documentElement.clientWidth;
        if (width < 960) {
            window.document.write('<script id="changyan_mobile_js" charset="utf-8" type="text/javascript" src="https://changyan.sohu.com/upload/mobile/wap-js/changyan_mobile.js?client_id=' + appid + '&conf=' + conf + '"><\/script>'); } else { var loadJs=function(d,a){var c=document.getElementsByTagName("head")[0]||document.head||document.documentElement;var b=document.createElement("script");b.setAttribute("type","text/javascript");b.setAttribute("charset","UTF-8");b.setAttribute("src",d);if(typeof a==="function"){if(window.attachEvent){b.onreadystatechange=function(){var e=b.readyState;if(e==="loaded"||e==="complete"){b.onreadystatechange=null;a()}}}else{b.onload=a}}c.appendChild(b)};loadJs("https://changyan.sohu.com/upload/changyan.js",function(){window.changyan.api.config({appid:appid,conf:conf})}); } })();
</script>

<include file="Public/footer"/>
<script type="text/javascript" src="__PUBLIC__/Js/Index/lazy.js"></script>
<include file="Public/footerjs"/>
<style>
    #SOHUCS #SOHU_MAIN .module-cmt-box .post-wrap-w div.post-wrap-main{
        background-image:url('');
    }
    #SOHUCS #SOHU_MAIN .module-cmt-box .post-wrap-w .post-wrap-main div.wrap-area-w .area-textarea-e .textarea-fw, #SOHUCS #SOHU_MAIN .module-cmt-list .wrap-issue-gw .issue-wrap-gw{
        color:#777 ;
     }
    #SOHUCS #SOHU_MAIN .module-cmt-box .post-wrap-w .post-wrap-main div.wrap-area-w .area-textarea-e .textarea-fw, #SOHUCS #SOHU_MAIN .module-cmt-list .wrap-issue-gw .issue-wrap-gw{
        color: #0a0a0a;
    }
</style>
</body>
</html>