<include file="Public/head"/>
<body  class="news-add ">
<include file="Public/header"/>

<link href="__PUBLIC__/Style/Index/news.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="__PUBLIC__/Js/jquery.min.js"></script>
<div class="wrap" data-channelid="">
    <div class="container">
        <div class="row mb20">
            <div class="col-xs-12 col-md-9  mt30 ">
                <div class="main pt20 pl20 pr20 pb15" data-id="" data-channel="">

                    <ul class="nav nav-tabs nav-tabs--news mb15" >
                        <li role="presentation" data-type="url" class="active"><a href="javascript:void(0);">发链接</a></li>
                    </ul>

                    <div id="news__form--Tpl">

                        <form class="news__form--post" id="submit"  method="POST">
                            <input class="hidden" data-init="null" name="userid" type="text"  value="<{$info.id}>">
                            <div for="news__form--url" class="form-group">
                                <label for="news__form--url" class="control-label required">网址</label>
                                <input id="news__form--url" type="url" name="url" value="" class="form-control" autocomplete="off" placeholder="请输入网址">

                                <span class="help-block"></span>
                            </div>

                            <div class="form-group">
                                <label for="news__form--title" class="control-label required">链接标题</label>
                                <div class="input-group">

                                        <input id="news__form--title" name="title" autocomplete="off" value="" class="form-control" placeholder="请输入标题">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default news__form--splider" type="button">抓取标题</button>
                                        </span>

                                </div>
                                <div class="form-control news__form--title-remote hide" disabled="">
                                    <i class="fa fa-refresh" aria-hidden="true"></i> 标题获取中… 或者 <a href="javascript:;" data-action="manual">手动输入</a>
                                </div>
                                <span class="help-block err"></span>
                            </div>

                            <div class="form-group">
                                <label for="news__form--catalog" class="control-label required">频道</label>
                                <input name="type" id="news__form--catalog" class="form-control hidden" placeholder="选择频道"><div class="sf-typeHelper sf-typeHelper--fortags sf-typeHelper--single">
                                <input type="text" data-role="sf_typeHelper-input" class="sf-typeHelper-input blog_tag1" placeholder="选择频道" style="width: 4em;"><ul class="sf-typeHelper-list dropdown-menu "></ul></div>
                                <p class="mt10 js-news--news-type" data-sharetypeitem="null">
                                    <volist name="category" id="val">
                                        <button type="button" class=" mr10 btn btn-xs btn-default" data-item="{&quot;id&quot;:&quot;<{$val.id}>&quot;,&quot;name&quot;:&quot;<{$val.name}>&quot;,&quot;url&quot;:&quot;Channel/<{$val.url}>&quot;,&quot;slug&quot;:&quot;<{$val.url}>&quot;}"><{$val.name}></button>
                                    </volist>
                                </p>
                            </div>

                            <div class="form__tech form-group">
                                <label for="tags" class="">标签（选填）：最多5个</label>
                                <input class="tagsInput form-control hidden" data-init="null" name="tags" type="text" placeholder="标签，如：php 可使用逗号,分号;分隔" data-role="tagsinput"><div class="sf-typeHelper sf-typeHelper--fortags">
                                <input type="text" data-role="sf_typeHelper-input" class="sf-typeHelper-input blog_tag" placeholder="标签，如：php 可使用逗号,分号;分隔" style="width: 20em;">
                                <ul class="sf-typeHelper-list dropdown-menu"></ul></div>
                                <div role="tabpanel" class="techTags panel panel-default techTags-panel" data-tech="" style="display: nono;">
                                    <ul class="nav nav-tabs" role="tablist">
                                        <volist name="list" id="val">
                                            <li role="presentation" class="active"><a href="#<{$val.name}>" aria-controls="type" role="tab" data-toggle="tab"><{$val.name}></a></li>
                                        </volist>
                                    </ul>
                                    <div class="tab-content">
                                        <volist name="list" id="val">
                                            <div role="tabpanel active" class="tab-pane " id="<{$val.name}>">
                                                <ul class="taglist--inline">
                                                    <notempty name="val.children">
                                                        <volist name="val.children" id="v">
                                                            <li class="mb5">
                                                                <a class="tag" data-tag="{&quot;id&quot;:&quot;<{$v.id}>&quot;,&quot;name&quot;:&quot;<{$v.name}>&quot;,&quot;iconUrl&quot;:&quot;<{$v.iconurl}>&quot;}" href="javascript: void(0);">
                                                                    <if condition="$v.iconurl neq ''">
                                                                        <img src=" <{$v.iconurl}>">
                                                                    </if>
                                                                    <{$v.name}>
                                                                </a>
                                                            </li>
                                                        </volist>
                                                    </notempty>
                                                </ul>
                                            </div>
                                        </volist>

                                    </div>
                                </div>



                            </div>

                            <div class="form-group">
                                <label for="news__form--description" class="control-label required">推荐语或内容描述</label>
                                <textarea name="description" id="news__form--description" class="form-control" rows="3" placeholder="分享亮点、槽点、你的观点或内容描述"></textarea>
                            </div>


                            <div class="modal-footer pb0 pt0 pr0">
                                <button type="submit" class="btn btn-primary done-btn">提交</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-3 mt30">
                <div class="news__side-block news__side-block--border-top">
                    <style>
                        .news__guide-list{
                            padding-left: 1.5em;
                            margin-bottom: 30px;
                        }
                        .news__guide-list li{
                            padding-bottom: 5px;
                        }
                        .news__guide-list li:last-child{
                            padding-bottom: 0;
                        }
                    </style>
                    <h5 class="news__side-block-heading">发帖指南</h5>
                    <div class="news__side-block-content">
                        <ul class="news__guide-list">
                            <li>独立思考、自由探索</li>
                            <li>发布的内容和互联网、编程开发、产品设计有关</li>
                            <li>标题能准确描述的内容，不要发重复的内容</li>
                            <li>客观投票，确保你看过这篇内容</li>
                            <li>如果你遇到了具体的编程难题，请到 <a target="_blank" href="http://blog.liweijia.site">问答平台</a> 提问</li>
                            <li>保持友善，禁止任何形式的广告、SEO 推广<br></li>
                            <li>遵循 <a href="https://blog.liweijia.site/tos" target="_blank">用户服务条款</a></li>
                        </ul>
                    </div>
                </div>


        </div>
    </div>
</div>
<script>
    $('.btn\.btn-default\.dropdown-toggle').click(function(){
        if($(this).attr('aria-expanded') =="true"){
            $(this).attr('aria-expanded',"false")
            $(this).parent().removeClass("open")
        }else{
            $(this).attr('aria-expanded',"true")
            $(this).parent().addClass("open")

        }
    });
    d = function() {
        $(".opts__item--message").removeClass("hide"),
            $.get("/api/notifications", function(t) {
                var n, a, i, o;
                t.status || (t.data = null != (a = t.data) ? a : [],
                    i = {
                        data: t.data,
                        unread: {
                            general: _.filter(t.data.general, function(e) {
                                return 0 === parseInt(e.viewed)
                            }).length,
                            ranked: _.filter(t.data.ranked, function(e) {
                                return 0 === parseInt(e.viewed)
                            }).length,
                            followed: _.filter(t.data.followed, function(e) {
                                return 0 === parseInt(e.viewed)
                            }).length,
                            comment: _.filter(t.data.comment, function(e) {
                                return 0 === parseInt(e.viewed)
                            }).length
                        }
                    },
                    o = _.reduce(i.unread, function(e, t) {
                        return e + t
                    }, 0),
                o > 0 && $(".opts__item--message .message-ingore-all").removeClass("hide"),
                    $("#messageGeneral").html(_.template($("#messageGeneralTpl").html())(i.data)),
                    $("#messageComment").html(_.template($("#messageCommentTpl").html())(i.data)),
                    $("#messageRanked").html(_.template($("#messageRankedTpl").html())(i.data)),
                    $("#messageFollowed").html(_.template($("#messageFollowedTpl").html())(i.data)),
                    $(".opts__item--message-loading").remove(),
                    n = {},
                    $(".mCustomScrollbar-message").mCustomScrollbar({
                        scrollInertia: 0,
                        callbacks: {
                            onScroll: function() {
                                var t, a, i;
                                if (i = this.mcs.topPct,
                                        a = e(this).data("proto"),
                                        n[a] = n[a] || 2,
                                    i > 55 && n[a] !== -1) {
                                    if (console.log(a, i, "ajax page " + n[a]),
                                            t = "/api/notifications?type=" + a + "&page=" + n[a],
                                        window.__api === t)
                                        return;
                                    return window.__api = t,
                                        e.get(t, function(t) {
                                            var i, o;
                                            if (!t.status)
                                                return i = t.data[a],
                                                    i.length > 0 ? (o = _.template($("#item--" + a).html())(t.data),
                                                            $(".tab-pane.active .mCSB_container").append(o),
                                                            n[a]++) : n[a] = -1
                                        })
                                }
                            }
                        }
                    }))
            })
    }
    $(".dropdown-toggle-message").on("click", function(t) {
        var n;
        return t.preventDefault(),
            n = $(".opts__item--message"),
        "undefined" != typeof v && v.emit("read"),

            "none" !== n.css("display") ? n.addClass("hide") : (d(),
                    $.get("/api/notifications/viewed", function(t) {
                        var n;
                        if (n = null,
                                !t.status)
                            return _.each(t.data, function(t, a) {
                                if (t)
                                    return n ? (n = $(".notice-dot-" + a),
                                            n.removeClass("hide"),
                                            n.removeClass("notice-dot--special")) : (n = $(".notice-dot-" + a),
                                            n.addClass("notice-dot--special"),
                                            n.closest("a[role='tab']").trigger("click"))
                            })
                    }))
    })

</script>
<include file="Public/footer"/>
<script type="text/javascript" src="__PUBLIC__/Js/Index/ask.js"></script>
</body>
</html>