<include file="Public/head"/>
<style type="text/css">
    body{margin:0;padding: 15px 10px 0px 0px ; background-color: #fff;height:<{$Height}>px;}

</style>
<body>

<form enctype="multipart/form-data" id="PostMe" method="post" name="upform" style="padding: 8px 0px 0px 0px;">
    <input type="hidden" value="<{$Width}>" name="Width">
    <input type="hidden" value="<{$Height}>" name="Height">
    <input type="hidden" value="<{$BackCall}>" name="BackCall">
    <input multiple="" name="img" type="file" id="id-input-file-3">

</form>
<include file="Public/footerjs"/>
<script>
    $('#id-input-file-3').ace_file_input({
        style: 'well',
        btn_choose: '在此处放置图像或单击以选择',
        btn_change: null,
        no_icon: 'ace-icon fa fa-picture-o',
        droppable: true,
        whitelist_ext : ["jpeg", "jpg", "png", "gif" , "bmp"],
        whitelist_mime : ["image/jpg", "image/jpeg", "image/png", "image/gif", "image/bmp"],

        thumbnail: 'small'//large | fit
        //,icon_remove:null//set null, to hide remove/reset button
        ,before_change:function(files, dropped) {
            $('iframe',parent.document).attr("height","90px");
            $('form').attr("style","padding: 8px 0px 0px 0px;");
            $('#PostMe').submit();
            return true;
        }
        ,before_remove : function() {
            $('iframe',parent.document).attr("height","150px");
            $('form').attr("style","padding: 5px 0px 0px 0px;");
            return true;
        }
        ,
        preview_error : function(filename, error_code) {
            //name of the file that failed
            //error_code values
            //1 = 'FILE_LOAD_FAILED',
            //2 = 'IMAGE_LOAD_FAILED',
            //3 = 'THUMBNAIL_FAILED'
            //alert(error_code);
        }

    }).on('change', function(){
        //console.log($(this).data('ace_input_files'));
        //console.log($(this).data('ace_input_method'));
    });
<if condition="$Img eq ''">
        $('#id-input-file-3')
            .ace_file_input('show_file_list', [
                {type: 'image', name: 'Logo', path: $('#<{$BackCall}>',parent.document).val()},
            ])
<else />
    $('#id-input-file-3')
        .ace_file_input('show_file_list', [
            {type: 'image', name: 'Logo', path: '<{$Img}>'},
        ]);
    $('#<{$BackCall}>',parent.document).val("<{$Img}>");
</if>;






</script>
</script>
</body>
</html>