<include file="Public/head"/>
<body  class="qa-ask ">
<include file="Public/header"/>
<link href="__PUBLIC__/Style/Index/qa.css" rel="stylesheet" type="text/css">
<link href="__PUBLIC__/Style/Index/responsive.css" rel="stylesheet" type="text/css">
<link href="__PUBLIC__/Plugin/build/build.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="__PUBLIC__/Js/jquery.min.js"></script>
<div class="wrap publish">
    <div class="container">
        <form id="question" method="POST" class="form">

            <div class="form-group">
                <label for="title" class="sr-only">笔记描述</label>
                <input id="myTitle" type="text" name="title" required="" data-error="" autocomplete="off" class="form-control tagClose input-lg" placeholder="笔记描述" value="">
            </div>
            <div class="form-group">
                <div class="editor">
                    <textarea id="myEditor" name="content"></textarea>
                </div>
            </div>

            <div class=" publish-footer">
                <div class="container">
                    <div class="operations clearfix">
                        <div class="pull-right">
                            <button type="button" data-toggle="tooltip" data-placement="top" title="" data-type="note" id="publishIt2" class="btn btn-default ml10" data-id="" data-do="add" data-url="" data-text="保存私密笔记" data-name="" data-original-title="私密笔记不会被搜索到，且仅对知道 URL 的人可见">
                                保存私密笔记
                            </button>
                            <button data-toggle="tooltip" data-placement="top" title="" type="button" data-type="note" id="publishIt" class="btn btn-primary ml10" data-id="" data-do="add" data-url="" data-text="保存公开笔记" data-name="" data-original-title="公开后无法再设置为私密">
                                保存公开笔记
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- /.container -->
</div>

<script type="text/javascript" src="__PUBLIC__/Js/Index/ask.js"></script>
<script type="text/javascript" src="__PUBLIC__/Plugin/build/build.js"></script>
</body>
</html>