
<include file="Public/head"/>
<body class="no-skin">
<include file="Public/header"/>
<div class="main-container" id="main-container">
    <include file="Public/sidebar"/>
    <div class="main-content">
        <div class="main-content-inner">
            <!-- 面包屑导航-->
            <include file="Public/breadcrumbs" />
            <div class="page-content">
                <include file="Public/set"/>
                <div class="row">
                    <!--新增按钮-->
                    <div class="cf">
                        <a class="btn btn-info" href="<{:U('add')}>" value="">新增</a>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.main-content -->

    <include file="Public/footer"/>
</div>
<include file="Public/footerjs"/>
</body>
</html>