<include file="Public/head"/>
<style>
    .panel {width: 600px}
    @media(max-width: 600px) {
        .panel {width: 100%}
    }
</style>
<div class="container">
    <div class="header text-center">
        <h1>
            <a href="/" class="logo">
                <img src="__PUBLIC__/Image/home-logo.png" alt="Liweijia-Blog">
            </a>
        </h1>
        <p class="description text-muted">欢迎来到Liwieji-Blog</p>
    </div>
    <div class="panel panel-default center-block">
        <div class="panel-heading">
            <h3 class="panel-title">重置密码</h3>
        </div>
        <div class="panel-body sfModal-content login-modal">
            <form class="form--forgot-password login-wrap mt15 mb15" action="<{:U('User/forgot')}>" method="POST" id="user" role="form">
                <div class="form-group" data-type="phone">
                    <label class="control-label">Email</label>
                    <div>
                        <input type="email"  class=" form-control email" name="email" placeholder="Email"  required="">
                    </div>
                </div>
                <div class="captchaInput mb15 form-group">
                    <input type="text" class="form-control" name="verify" placeholder="右侧的验证码" style="width: 50%;display: inline;margin-right: 15px;" id="cap-area" required="">
                    <span class="mt10 ">
                        <a id="loginReloadCaptcha" href="javascript:void(0)">
                        <img src="<{:U('Api/verify')}>" onclick="this.src=this.src+'?'+Math.random()" class="captcha" width="135" height="34"></a>
                    </span>
                </div>
                <button type="submit" id="submit" class="btn btn-primary btn-block">提交</button>

            </form>
        </div>
    </div>
</div>
<include file="Public/footerjs"/>
<script>
    var a =new Array();
    $("form")[0].addEventListener('submit',function(t){
        t.preventDefault();
        var o = {},
            r = $(this).closest("form").find("input:not(.hide,hidden)");
        r.each(function() {
            var t = $(this)
                , n = t.attr("name")
                , a = t.val();
            o[n] = a
        });
        if(a.length>0){
            for(i=0;i<a.length;i++){
                $('[name='+a[i]+']').parent().removeClass("has-error")
                $('[name='+a[i]+']').siblings("[class='help-block err']").remove();
            }
            a.length=0;
        }

        if(o.verify.length!=4){
            $('[name="verify"]').parent().append('<span class="help-block err">图形验证码错误</span>')
            $('[name="verify"]').parent().addClass("has-error");
            a.push('verify')
            return false;
        }

        $.post("<{:U('User/forgot')}>", o, function(e) {
            e=JSON.parse(e);
            if(e.status!=200){
                $('.img-rounded').click();
                for(i=0;i<e.cap.length;i++){
                    !$('[name='+e.cap[i].name+']').siblings("[class='help-block err']").length ? $('[name='+e.cap[i].name+']').parent().append('<span class="help-block err">'+e.cap[i].value+'</span>'):$('[name='+e.cap[i].name+']').siblings("[class='help-block err']")[0].innerHTML = e.cap[i].value;
                    $('[name='+e.cap[i].name+']').parent().addClass("has-error");
                    a.push(e.cap[i].name);
                }
                return;
            }else{
                window.location.reload();
            }

        })
    });
</script>

</body>
</html>