<include file="Public/head"/>
<link href="__PUBLIC__/Style/Index/user.css" rel="stylesheet" type="text/css">
<body  class="no-skin">
<include file="Public/header"/>
    <div class="profile">

        <header class="profile__heading">
            <div class="container">
                <div class="row" style="position: relative;">
                    <div class="col-md-2 col-sm-3 col-xs-3">
                        <div class="profile__heading--avatar-warp"><a href="<{:U('User/index',array('user'=>$infor['pageurl']))}>"><img class="profile__heading--avatar avatar-160" src="<{$infor['head']}>" alt="<{$infor['pageurl']}>"></a>
                            <input type="file" id="avatarFile" name="avatar" class="file hide">
                        </div>
                       <!-- <div class="profile__heading&#45;&#45;social">
                            <ul class="sn-inline profile__heading&#45;&#45;social-item">
                                <li><a href="https://github.com/callmedadaxin" class="icon-sn-github" target="_blank"></a></li>
                            </ul>
                        </div>-->
                    </div>
                    <div class="col-md-5 col-sm-9 col-xs-9">
                        <h2 class="profile__heading--name"> <{$infor['nickname']}> <small class="ml15"><a href="<{:U('User/about',array('user'=>$infor['pageurl']))}>">查看完整档案</a></small></h2>
                        <div class="profile__heading--award"><a class="profile__rank-btn" href="/u/athon/rank"><span class="h4">1040</span><span class="profile__rank-btn-text">声望</span></a>
                            <div class="profile__heading--award-badge"><span class="badge badge--o badge--sf badge--gold"><i class="badge__icon"></i></span><span class="profile__heading--award-badge-count">0</span><span class="badge badge--o badge--sf badge--silver"><i class="badge__icon"></i></span><span class="profile__heading--award-badge-count">1</span><span class="badge badge--o badge--sf badge--bronze"><i class="badge__icon"></i></span><span class="profile__heading--award-badge-count">5</span></div>
                        </div>
                        <div class="profile__heading--other"><script type="text/template" class="tpl__city--form"><form class="form form--profile form-inline form__city"
                        data-action="/api/user/homepage/city/edit"><div class="form-group"><input placeholder="现居城市       " name="city" data-city="<%- city %>"
                                                                                                  class="input-sm tagsInput form-control mr10"><button type="button" class="btn btn-sm btn-primary js-submit">保存</button></div></form></script><script type="text/template" class="tpl__city--content"><%- city.name %><span class="profile__heading-edit btn btn-xs" data-type="city"><i class="fa fa-pencil"
                                                                                                                                                                                                                                                                                                                                                                                          aria-hidden="true"></i>编辑</span></script><span class="profile__heading--other-item hide"><i class="fa fa-map-marker"></i><span class="profile__city">北京<span class="profile__heading-edit   btn btn-xs " data-type="city"><i class="fa fa-pencil " aria-hidden="true"></i>编辑</span></span></span><script type="text/template" class="tpl__school--form"><form class="form form--profile form-inline form__school"
                        data-action="/api/user/homepage/school/edit"><div class="form-group"><input placeholder="院校名称       " name="name"
                                                                                                    class="input-sm tagsInput form-control mr10"
                                                                                                    data-school="<%- school[0]%>"><input placeholder="所学专业" name="department"
                                                                                                                                         class="input-sm tagsInput form-control mr10" value="<%- school[1]%>"><button type="button" class="btn btn-sm btn-primary js-submit">保存</button></div></form></script><script type="text/template" class="tpl__school--content"><%= school[0] %><span
                                class="profile__heading--other-item-fgx">&nbsp;&nbsp;|&nbsp;&nbsp;</span><%= school[1] %><span class="profile__heading-edit btn btn-xs" data-type="school"><i class="fa fa-pencil"
                                                                                                                                                                                              aria-hidden="true"></i>编辑</span></script><span class="profile__heading--other-item "><i class="fa fa-graduation-cap" aria-hidden="true"></i><span class="profile__school">北京科技大学<span class="profile__heading--other-item-fgx ">&nbsp;&nbsp;|&nbsp;&nbsp;</span>计算机科学与技术 <span class="profile__heading-edit   btn btn-xs " data-type="school"><i class="fa fa-pencil " aria-hidden="true"></i>编辑</span></span></span><script type="text/template" class="tpl__company--form"><form class="form form--profile form-inline form__company"
                        data-action="/api/user/homepage/company/edit"><div class="form-group"><input placeholder="公司/组织名称" name="name"
                                                                                                     class="tagsInput form-control mr10 input-sm" value="<%- company[0]%>"><input placeholder="职位头衔" name="role"
                                                                                                                                                                                  class="tagsInput form-control mr10 input-sm" value="<%- company[1]%>"><button type="button" class="btn btn-primary btn-sm js-submit">保存</button></div></form></script><script type="text/template" class="tpl__company--content"><%= company[0]%><span
                                class="profile__heading--other-item-fgx">&nbsp;&nbsp;|&nbsp;&nbsp;</span><%= company[1] %><span class="profile__heading-edit btn btn-xs" data-type="company"><i class="fa fa-pencil"
                                                                                                                                                                                                aria-hidden="true"></i>编辑</span></script><span class="profile__heading--other-item "><i class="fa fa-briefcase" aria-hidden="true"></i><span class="profile__company">Threatbook<span class="profile__heading--other-item-fgx ">&nbsp;&nbsp;|&nbsp;&nbsp;</span>前端开发工程师 <span class="profile__heading-edit   btn btn-xs " data-type="company"><i class="fa fa-pencil " aria-hidden="true"></i>编辑</span></span></span><script type="text/template" class="tpl__site--form"><form class="form form--profile form-inline form__site"
                        data-action="/api/user/homepage/site/edit"><div class="form-group"><input placeholder="个人网站" name="site"
                                                                                                  onkeypress="stopSubmit(event)"
                                                                                                  class="tagsInput form-control mr10 input-sm" value="<%- site %>"><button type="button" class="btn btn-sm btn-primary js-submit">保存</button></div></form></script><script>
                            stopSubmit = function (e) {
                                if(e.keyCode == 13){
                                    e.preventDefault();
                                }

                            }</script><script type="text/template" class="tpl__site--content"><a class="profile__heading--other-item-link" target="_blank" href="<%- site %>"
                        target="_blank"><%- siteWithoutScheme %></a><span class="profile__heading-edit btn btn-xs" data-type="site"><i class="fa fa-pencil"
                                                                                                                                       aria-hidden="true"></i>编辑</span></script><span class="profile__heading--other-item "><i class="fa fa-link"></i><span class="profile__site"><a class="profile__heading--other-item-link" target="_blank" href="http://callmedadaxin.github.io/"> callmedadaxin.github.io/ </a><span class="profile__heading-edit  btn btn-xs " data-type="site"><i class="fa fa-pencil " aria-hidden="true"></i>编辑</span></span></span></div>
                    </div>
                    <div class="profile__heading--desc col-md-5 col-sm-12 col-xs-12">
                        <div class="profile__heading--desc-heading"><span class="profile__heading--desc-heading-dot-warp"><span class="profile__heading-dot profile__heading-dot--red"></span><span class="profile__heading-dot profile__heading-dot--yellow"></span><span class="profile__heading-dot profile__heading-dot--green"></span></span>
                            <div class="pull-right"><span data-type="desc" class="profile__heading-edit   btn btn-xs profile__heading--desc-heading-edit"><i class="fa fa-pencil" aria-hidden="true"></i>编辑</span></div>
                        </div>
                        <div class="profile__heading--desc-body"><script type="text/template" class="tpl__desc--form"><form class="form form--profile form__desc"
                        data-action="/api/user/homepage/description/edit"><div class="form-group"><textarea class="form-control" name="description" rows="4"><%= description %></textarea></div><div class="text-right"><button type="button" class="btn btn-default js-cancel mr10">取消</button><button type="button" class="btn btn-primary js-submit">保存</button></div></form></script><script type="text/template" class="tpl__desc--content"><% if(parsedText){ %><%= parsedText %><% }else{ %><div style="white-space: pre"> _
                            | |__ _ _ __ _
                            | '_ \| | | |/ _` |
                            | |_) | |_| | (_| |
                            |_.__/ \__,_|\__, |
                            |___/ 该用户太懒什么也没留下
                        </div><% } %></script>
                            <div class="profile__desc">
                                <p>前端coder,热爱前端开发，mac爱好者</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

    </div>

<include file="Public/footer"/>
<include file="Public/footerjs"/>
</body>
</html>